# Entorno virtual
venv/
.env
.env.*

# Archivos de configuración del sistema
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store

# Docker
*.pid
*.pid.lock

# Archivos de pruebas/coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Carpeta de distribución
dist/
build/
*.egg-info/

# Redis dumps (por si lo usaras)
dump.rdb

# Otros
*.db
instance/
